body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1c1c1c;
  margin: 0px;
  padding: 0px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.main-header .logo {
  font-size: 24px;
  font-weight: bold;

  a {
    color: #fff;
    text-decoration: none;
  }
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0px;
  padding: 15px 30px 15px 15px;

  li {
    margin: 0px 15px;
  }
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #f39c12;
}

.info-section,
.movie-section,
.top-movies-section,
.form-section {
  margin: 20px 300px;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px, 4px, 8px, rgba(0, 0, 0, 0.1);
  border: none;

  h2 {
    color: #333;
  }
}

.info-section {
  margin-top: 100px;
}

.cover-image {
  margin: 0px auto;
  border-radius: 10px;
  width: 100%;
}

.movie-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;

  th,
  td {
    padding: 10px;
    border-bottom: 1px solid #e7e7e7;
    text-align: center;

    a {
      text-decoration: none;
      color: #f39c12;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  th {
    background-color: #f2f2f2;
  }
}

.top-movies-section li {
  padding: 5px;
}

.form-section form {
  display: flex;
  flex-direction: column;

  input,
  select,
  button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  label {
    margin: 10px 5px;
  }

  button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }

  button:hover {
    background-color: #555;
    transition: background-color 0.3s;
  }
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}
